
<div id="goals-container">
  <h1>Goals</h1>
  <% unless @user.goals.empty? %>
  <table class="goals" summary="User goals">
    <%= render @goals %>
  </table>
  <%= will_paginate @goals %>
  <% end %>
  <div class="new-goal">
  <%= link_to "New Goal", new_goal_path %>
</div>

<div id="profile-box">
  <p><%= notice %></p>
</div>
