<div class="goal-container">
  <p>
    This app was created for people who want to do better. It's hard to stay on top of things and life goes by so fast. One day I woke up and realized that five years had gone by and I didn't achieve anything I had hoped for myself after I graduated college. This was created in hopes that others who had fallen off the track like myself might not waste quite as much time as I had.
  </p>  
</div>
