<div class="goal-container">
  <h1>Why?</h1>
  <h2>Create a more meaningful life</h2>
  <ul>
    <li>Reflection</li>
    <li>Autonomy</li>
    <li>Commitment</li>
  </ul>
</div>

<div class="goals-container">
    <h3>Make your first Goal</h3>
</div>
