<% content_for :head do %>
  <script type="text/javascript">
    $(window).scroll(function() {
    if ($(this).scrollTop() > 500) {
        $('#start').show();
      } else {
        $('#start').hide();
      }
    });
  </script>
<% end %>

<div id="main-container">
  <div class="main-reasons">
    <h1>- Accomplish One Thing</h1>
    <h1>- Accomplish More</h1>
    <h1>- Keep Track</h1>
    <h1>- Finish That Something</h1>
    <h1>- Remember What's Important</h1>
  </div>
  <div class="line"></div>
  <div class="main-info">
    <h3>We all could use a little help. Stay motivated and keep on track. Encourage yourself or keep note of discouragements. </h3>
  </div>
  <div class="line"></div>
  <%= button_to "Make A Goal", new_user_path, :id => "start", :method => :get %>
    <div class="numbers">1</div>
    <div class="steps">
      <h3>Create a Vision</h3>
      <p>Figure out what you want. If you don’t know what you want, you don’t know what you need to achieve to get there. This is actually the fun part. You get to dream. </p>
    </div>
    <div class="numbers">2</div>
    <div class="steps">
      <h3>Make It Measurable</h3>
      <p>Take your vision and turn it into a written list of concrete goals. Choose time frames to accomplish your goals by as well as measurable details so you know exactly when you’ve achieved them.</p>
    </div>
    <div class="numbers">3</div>
    <div class="steps">
      <h3>Small Steps</h3>
      <p>Break your goals into small actionable steps and assign realistic time frames to each. Break big steps into smaller steps until goals seem less daunting and achievable.</p>
    </div>
    <div class="numbers">4</div>
    <div class="steps">
      <h3>Celebrate Your Success</h3>
      <p>This is the best part. It's important to celebrate what you've accomplished. Reflect on your success to fuel you ahead.</p>
    </div>
</div>
