<div id="main-container">
    <div class="numbers">1</div>
    <div class="steps">
      <h3>Create a Vision</h3>
      <p>Figure out what you want. If you don’t know what you want, you don’t know what you need to achieve to get there. This is actually the fun part. You get to dream. </p>
    </div>
    <div class="numbers">2</div>
    <div class="steps">
      <h3>Make It Measurable</h3>
      <p>Take your vision and turn it into a written list of concrete goals. Choose time frames to accomplish your goals by as well as measurable details so you know exactly when you’ve achieved them.</p>
    </div>
    <div class="numbers">3</div>
    <div class="steps">
      <h3>Small Steps</h3>
      <p>Break your goals into small actionable steps and assign realistic time frames to each. Break big steps into smaller steps until goals seem less daunting and achievable.</p>
    </div>
    <div class="numbers">4</div>
    <div class="steps">
      <h3>Celebrate Your Success</h3>
      <p>This is the best part. It's important to celebrate what you've accomplished. Reflect on what you've accomplished to fuel you ahead.</p>
    </div>
</div>
